.signup-style .signup-img {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.signup-style #btnSignup {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2;
    height: 40px;
    line-height: 14px;
    transition: all 150ms linear;
    width: 100px;
    border-radius: 0px;
    letter-spacing: 1px;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
    outline: 0;
    text-transform: capitalize;
    background-color: #131212;
    color:white;
  }
  
  .signup-style .cursorLink {
    cursor: pointer;
    color: black;
    margin-top: 12px;
  }
  
  .signup-style .cursorLink:hover {
    color: rgb(84, 84, 84);
  }

  .signup-style .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signup-style #btnSignup:hover{
    background-color: white;
    color:#131212;
    border:solid #131212;
  }


  @media screen and (max-width: 1040px) {
    .signup-style .form-signup {
      position: absolute;
      background: #fff;
      left: 23%;
      padding-bottom: 50px;
      top: 17%;
      width: 70%;
      box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
      max-width: 550px;
    }
  }
  
  @media screen and (max-width: 840px){
    .signup-style .form-signup {
      left: 15%;
      padding-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 668px){
    .signup-style .form-signup {
      left: 13%;
    }

    .signup-style .form-signup .form-input::placeholder {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width:576px){
    .signup-style .form-signup {
      left: 14%;
    }

    .signup-style .form-signup .form-input::placeholder {
      font-size: 12px;
    }
  
    .signup-style .form-signup h2 {
      font-size: 22px;
      text-align: center;
    }
  }