.about-row {
  margin: 5rem 5rem;
  
}

.about-row .about-hero .about-img {
  height: 350px;
  width: 100%;
}

.about-row .about-title {
    text-align: left;
    /* background-color: #ccc; */
    margin: 0;
    padding: 25px;
    color: #444;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }

  .about-row .about h2 {
    font-size: 30px;
    margin-bottom:10px;
  }
  
  @media (max-width:767px){
    .about-row .about h2 {
      font-size: 20px;
    }
  }
  
  .about-row .hero {
  display: flex;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
  }

  @media screen and (max-width: 992px){
    .about-row {
      margin: 0 2rem;
    }

    .about-row .about-hero .about-img {
      height: 450px;
      width: 100%;
    }
  }