.center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recipelist-style #title {
    font-size: 30px;
    font-weight: bold;
  }

  .recipelist-style .recipelist-img {
    width: 350px;
  }

  .details {
    transition: all 150ms linear;
    text-decoration: none;
    color: #a46904;
    font-weight: bold;
  }

  .details:hover {
    color: #5b3a02;
  }

  .navigationButtons {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
  }
   
  .navigationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #d78a05;
    color: #d78a05;
    cursor: pointer;
  }
   
  .navigationButtons a:hover {
    color: white;
    background-color: #d78a05;
  }
   
  .navigationActive a {
    color: white;
    background-color: #d78a05;
  }
   
  .navigationDisabled a {
    color: grey;
    background-color: #724a04;
  }

  @media screen and (max-width: 1040px) {
    .recipelist-style .recipelist-img {
      width: 310px;
    }
  }

  @media screen and (max-width: 992px) {
    .recipelist-style .recipelist-img {
      width: 330px;
      margin: auto;
    }
  }