#nav-icon1 span{
    display: block;
    margin:6.5px;
    height: 2px;
    width:26px;
    background: #f9f7f6;
    border-radius: 9px;
  }


  #nav-icon1 span{  
    cursor:pointer; 
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }