.carousel-style .slide-column {
  color: white;
  text-align: center;
}

.carousel-style .bg-color1 {
  background-color: rgb(54, 101, 79);
}

.carousel-style .bg-color2 {
  background-color: rgb(179, 124, 87);
}

.carousel-style .recipe-homelist {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnSlide1 {
    position: relative;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 2;
    height: 50px;
    line-height: 14px;
    transition: all 150ms linear;
    width: 150px;
    border-radius: 0px;
    letter-spacing: 1px;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border:solid 1px white;
    cursor: pointer;
    /* box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25); */
    outline: 0;
    text-transform: capitalize;
    background-color: transparent;
    color:white;
  }
  
  #btnSlide1:hover{
    color:black;
    background-color: white;
    border: none;
  }

  #btnSlide2 {
    position: relative;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 2;
    height: 50px;
    line-height: 14px;
    transition: all 150ms linear;
    width: 150px;
    border-radius: 0px;
    letter-spacing: 1px;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border:solid 1px white;
    cursor: pointer;
    /* box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25); */
    outline: 0;
    text-transform: capitalize;
    background-color: transparent;
    color:white;
  }
  
  #btnSlide2:hover{
    color:black;
    background-color: white;
    border: none;
  }

  #btnRecipes {
    position: relative;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2;
    height: 50px;
    line-height: 14px;
    transition: all 150ms linear;
    width: 200px;
    border-radius: 22px;
    letter-spacing: 1px;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border:solid 1px black;
    cursor: pointer;
    /* box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25); */
    outline: 0;
    text-transform: capitalize;
    background-color: white;
    color:black;
  }
  
  #btnRecipes:hover{
    color:white;
    background-color: black;
    border: none;
  }

  .carousel-style .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
  }

  .carousel-style .landing-about {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .carousel-style .landing-about .about-overlay {
    color: #fff;
    padding-top: 5rem;
  }

  .carousel-style .landing-about .about-img{
    height: 460px;
  }

  .carousel-style .landing-about .about-title h1{
    font-weight: bold;
  }

  .carousel-style .landing-about .cardText {
    margin-top: 3rem;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 22px;
   line-height: 35px;
  }

  #btnAbout {
    position: relative;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2;
    height: 50px;
    line-height: 14px;
    transition: all 150ms linear;
    width: 130px;
    border-radius: 22px;
    letter-spacing: 1px;    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border:solid 2px white;
    cursor: pointer;
    /* box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25); */
    outline: 0;
    text-transform: capitalize;
    background-color: transparent;
    color:white;
  }
  
  #btnAbout:hover{
    color:black;
    background-color: white;
    border: none;
  }

  @media screen and (max-width: 992px){
    
    .carousel-style .landing-about .about-img{
      height: 420px;
    }
  
    .carousel-style .landing-about .about-title h1{
      font-size: 28px;
    }
  
    .carousel-style .landing-about .cardText {
        font-size: 18px;
        margin-top: 1rem;
        padding-left: 120px;
        padding-right: 120px;
        line-height: 30px;
  }

  }

  @media screen and (max-width: 768px) {
    .carousel-style .slide-column {
        position: absolute;
        padding-bottom: 150px;
        left: 0;
    }

    .carousel-style .bg-color1 {
      background-color: rgb(54, 101, 79, 0.4);
    }
    
    .carousel-style .bg-color2 {
      background-color: rgb(179, 124, 87, 0.4);
    }

    .carousel-style .title h2 {
      font-size: 27px;
    }

    .carousel-style .landing-about .about-overlay {
      padding-top: 2rem;
    }

    .carousel-style .landing-about .about-img{
      height: 380px;
    }
  
    .carousel-style .landing-about .about-title h1{
      font-size: 34px;
    }
  
    .carousel-style .landing-about .cardText {
        font-size: 20px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 37px;
  }

  }

  @media screen and (max-width: 576px) {

    .carousel-style .title h2 {
      font-size: 23px;
    }

    .carousel-style .landing-about .about-overlay {
      padding-top: 1.5rem;
    }

    .carousel-style .landing-about .about-title h1{
      font-size: 28px;
    }

    .carousel-style .landing-about .cardText {
      font-size: 18px;
      padding-left: 40px;
      padding-right: 40px;
      line-height: 27px;
}

  }